<h2>
  news works!
</h2>
<h3>{{userInfo.name}}</h3>
<h3>{{userInfo.age}}</h3>
<h3>{{message}}</h3>
<div title="測試1">早安新聞</div>
<div [title]="message2">晚安新聞</div>
<div>{{content}}</div>
<div [innerHTML]="content"></div>
<div>1+2={{1 + 2}}</div>
<!--樣式套用三種方式-->
<div  class="{{classStr}}">bgblue1</div>
<div  [class]="classStr">bgblue2</div>
<div [attr.class]="classStr">bgblue3</div>
<!--傳入字串-->
<div  [class]="'abc efg'">bgblue4</div>
<!--傳入對象(若是true會自動帶進來 測試不work)-->
<div  [class]="classObj">bgblue5</div>
<div  [class]="{bgBlue:isShow}">bgblue6</div>
<!--數組模式-->
<div  [class]="['bgBlue active']">bgblue7</div>
<div  [class]="classArr">bgblue8</div>
<!--style表達式-->
<div  [style]="styleStr">style</div>

<ol>
  <li *ngFor="let item of arr2">
    {{item}}
  </li>
</ol>

<ol>
  <li *ngFor="let item of arr">
    {{item}}
  </li>
</ol>

<ul>
  <li *ngFor="let item of list">
    {{item}}
  </li>
</ul>

<ol>
  <li *ngFor="let item of userList">
    {{item.name}}----{{item.age}}
  </li>
</ol>

<ul>
  <li *ngFor="let item of cars">
    {{item.brand}}
    <ol>
      <li *ngFor="let car of item.list">
        {{car.title}}-------{{car.price}}
      </li>
    </ol>
  </li>
</ul>
<!--&lt;!&ndash;get傳值&ndash;&gt;-->
<!--<ul>-->
<!--  <li *ngFor="let item of list2;let key=index;">-->
<!--    &lt;!&ndash; <a href="#">{{key}}-&#45;&#45;&#45;&#45;{{item}}</a>  &ndash;&gt;-->
<!--    &lt;!&ndash; get 請求傳參 到newcontent component&ndash;&gt;-->
<!--    <a routerLink="/newcontent" [queryParams]="{aid:key}">{{key}}-&#45;&#45;&#45;&#45;{{item}}</a>-->
<!--  </li>-->
<!--</ul>-->

<ul>
  <li *ngFor="let item of list2;let key=index">
    <a [routerLink]="['/newcontent/',key]" >{{key}}------{{item}}</a>
  </li>
</ul>

<a routerLink="/newcontent">新聞詳情點此</a>

